# Identify the trend over the day of a week with the total number of trending videos

In [2]:
# common imports
import random
import json
import csv
from os import getenv

import numpy as np
import pandas as pd
from pymongo import MongoClient

In [3]:
mongo_uri = f"mongodb://{getenv('MONGO_USERNAME')}:{getenv('MONGO_PASSWORD')}@youtube-trends-mongodb:27017"
client = MongoClient(mongo_uri)
print(client.list_database_names())

['admin', 'config', 'local', 'youtube_trend_db']

In [4]:
db = client.youtube_trend_db

In [4]:
db.us.find_one({})

{'_id': ObjectId('6255ea0be31a242ae00d8f33'),
 'video_id': 'cAtazIk1IYw',
 'title': 'How To Make a Curried Egg Sandwich',
 'published_at': '2020-08-07T18:30:06Z',
 'channel_id': 'UCR4s1DE9J4DHzZYXMltSMAg',
 'channel_title': 'HowToBasic',
 'category': 'Howto & Style',
 'trending_date': '2020-08-12T00:00:00Z',
 'tags': 'how to make a curried egg sandwich|curried egg|egg sandwich recipe|egg recipe|how to make a sandwich|curried egg sandwich recipe|easy recipe|curry recipe|how to make curry|food|step by step recipes|healthy recipes|egg salad sandwich|recipe',
 'view_count': 1238677,
 'likes': 104736,
 'dislikes': 3736,
 'comment_count': 13876,
 'comments_disabled': False,
 'ratings_disabled': False}

In [14]:
df = pd.DataFrame(data=list(db.us.find({})))

In [36]:
df['trending_date']= pd.to_datetime(df['trending_date'])

In [37]:
df["trending_day"] = df['trending_date'].dt.day_name()

In [38]:
res_df = df.groupby(["trending_day"], as_index=False).agg(view_count=("view_count", "sum"))

In [39]:
order_day = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']


res_df = res_df.groupby(['trending_day']).sum().reindex(order_day) 
res_df.reset_index(inplace=True)
res_df

  trending_day   view_count
0       Monday   8611291493
1      Tuesday   9389875557
2    Wednesday   7799704252
3     Thursday   8321660316
4       Friday   8287691647
5     Saturday   9424417469
6       Sunday  10791293039

In [31]:
res_df.sort_values("trending_day")

  trending_day   view_count
0       Friday   8287691647
1       Monday   8611291493
2     Saturday   9424417469
3       Sunday  10791293039
4     Thursday   8321660316
5      Tuesday   9389875557
6    Wednesday   7799704252

In [76]:
res_df = res_df.rename(columns={"trending_day": "x", "view_count":"y"})

In [70]:
res_df.to_dict(orient="records")

[{'trending_day': 'Friday', 'view_count': 8287691647},
 {'trending_day': 'Monday', 'view_count': 8611291493},
 {'trending_day': 'Saturday', 'view_count': 9424417469},
 {'trending_day': 'Sunday', 'view_count': 10791293039},
 {'trending_day': 'Thursday', 'view_count': 8321660316},
 {'trending_day': 'Tuesday', 'view_count': 9389875557},
 {'trending_day': 'Wednesday', 'view_count': 7799704252}]

In [27]:
res_df

  trending_day   view_count trending_dat
0       Friday   8287691647       Friday
1       Monday   8611291493       Monday
2     Saturday   9424417469     Saturday
3       Sunday  10791293039       Sunday
4     Thursday   8321660316     Thursday
5      Tuesday   9389875557      Tuesday
6    Wednesday   7799704252    Wednesday